* {
  /* text-transform: capitalize; */
  font-family: 'Montserrat', sans-serif;
}

* {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 10px;
}

.dashboardWrap,
.sideWrap,
.mainWrap {
  height: 100vh !important;
}

.dashboardWrap {
  margin: 0;
  padding: 0;
}

.sideWrap {
  background: #5846F6;
}

.sideWrap a {
  text-decoration: none;
  color: #000;
}

#dashboard {
  width: 150px;
  margin: 30px auto;
}

#createvideo {
  width: 150px;
  margin: 0px auto;
}

#signout {
  width: 150px;
  margin: 30px auto;
}

.mainWrap {
  margin: 30px 0px;
}

.isLoading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0px);
}

.isLoading i {
  font-size: 6em;
}

.slideText {
  position: absolute;
  top: 33%;
  left: 33%;
  transform: translate(-45%, -30%);
  border: 1px solid #fff;
  font-size: 22px;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px 15px;
}

.slides {
  text-align: center;
  max-width: 85%;
  height: 60vh;
  margin: 15px 0px;
  font-size: 2em;
  color: #fff;
}

.slidesbg {
  width: 60%;
  height: 40vh;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
}

.slidesbg video {
  height: 100%;
}

.sidebgOption {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  right: 0;
  width: 35%;
}

.sidebgOption button {
  margin-bottom: 10px;
}

.slideWrap {
  overflow: auto;
  max-height: 85vh;
  margin: 4% 0% 0% 15%;
}

.mediadata {
  padding: 10px;
  width: 100%;
  border-radius: 15px;
}

.mediadata:hover {
  cursor: pointer;
}

#mediaWrap {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
  max-height: 70vh;
  overflow: auto;
  margin-bottom: 20px;
}

.outroText {
  position: absolute;
  width: 60%;
  text-align: center;
  transform: translate(-2%);
  bottom: 15%;
  color: #000;
  font-size: 18px;
}

.newslide {
  width: 60%;
  margin-left: 20px;
}

.newslide i {
  font-size: 24px;
  color: #00bcd4;
  cursor: pointer;
}

.deleteicon {
  color: #ddd;
  position: absolute;
  left: 0px;
  top: 45%;
  font-size: 16px;
  cursor: pointer;
  transform: translateY(-50%);
}

.mt-10 {
  margin-top: 10px;
  color: #000;
}

.duration {
  font-size: 16px;
  margin: 10px;
}


/* Dashboard */

#showRendering,
#showDraft,
#showProduced {
  margin: 0px 20px
}

.dashboard {
  height: 75vh;
  overflow: auto;
}

.draftWrap {
  margin-top: 20px;
  height: 30vh;
}

.card-title {
  margin-top: 15px;
}

.card-title i {
  cursor: pointer;
}

.btn {
  font-weight: 500;
}

.thumbnail video {
  width: 100%;
}

.downloadVideo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.paddingnone {
  padding: 0;
}