<div class="col-md-12 dashboardWrap">
    <div class="col-md-2 sideWrap">
        <div class="col-md-12 text-center">
            <a href="/dashboard">
                <button class="btn btn-default" id="dashboard"
                    ng-class="path=='/dashboard'?'btn-info':''">Dashboard</button>
            </a>
        </div>

        <div class="col-md-12 text-center">
            <a href="/createvideo">
                <button class="btn btn-default" id="createvideo"
                    ng-class="path=='/createvideo'?'btn-info':''">Createvideo</button>
            </a>
        </div>

        <div class="col-md-12 text-center">
            <a href="/signout">
                <button class="btn btn-default" id="signout" ng-class="path=='/signout'?'btn-info':''">Signout</button>
            </a>
        </div>
    </div>

    <div class="col-md-10 mainWrap">
        <div ng-if="!downloadVideo">
            <div ng-if="isLoading" class="isLoading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>


            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6 text-center" style="margin:20px 0px">
                    <button class="btn btn-default" id="showDraft" ng-click="showDraft()">Draft</button>
                    <button class="btn btn-default" id="showRendering" ng-click="showRendering()">Rendering</button>
                    <button class="btn btn-default" id="showProduced" ng-click="showProduced()">Produced</button>
                </div>
                <div class="col-md-3" style="margin:20px 0px">
                    <button class="btn btn-default pull-right" ng-click="refresh()">Refresh</button>
                </div>
            </div>
            <!-- Render Video -->
            <div ng-if="Rendering" class="col-md-12" style="margin-top: 20px">
                <div class="col-md-12 row dashboard" ng-if="rendering.length > 0">
                    <div class="col-md-3" ng-repeat='render in rendering track by $index'>
                        <div class="card thumbnail">
                            <img class="card-img-top"
                                ng-show="render.slides[0].bg_media.type=='photo' && render.status != 'failed'"
                                ng-src="{{render.slides[0].bg_media.previewurl}}" alt="Card image"
                                style="width:100%">

                            <div class="card-img-top"
                                ng-show="render.slides[0].bg_media.type=='video' && render.status != 'failed'">
                                <video loop="" muted id="vid{{$index}}" preload=auto
                                    ng-src="{{render.slides[0].bg_media.previewurl| trustUrl}}">
                                </video>
                            </div>
                            <div ng-if="render.status == 'failed'">
                                <h4 class="text-center" style="height: 90px">Failed</h4>
                            </div>
                            <div classcol-md-6="card-body">
                                <p class="card-title">{{render.title}}<i class="fa fa-edit pull-right"
                                        ng-click="go('/createvideo?id=',render._id)"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-if="!rendering.length" style="margin-top: 15%">
                    <div class="text-center">
                        <h3>Your video dashboard is empty!</h3>
                        <h3>Start creating videos to download and share with the world</h3>
                    </div>
                </div>
            </div>
            <!-- end -->

            <!-- Draft Video -->
            <div ng-if="Draft" class="col-md-12" style="margin-top: 20px">
                <div class="col-md-12 row dashboard" ng-if="draftvideo.length > 0">

                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='draft in draftvideo1 track by $index'>
                            <div class="card thumbnail">
                                <img class="card-img-top" ng-show="draft.slides[0].bg_media.type=='photo'"
                                    ng-src="{{draft.slides[0].bg_media.previewurl}}" alt="Card image"
                                    style="width:100%">

                                <div class="card-img-top" ng-show="draft.slides[0].bg_media.type=='video'">
                                    <video loop="" muted id="vid{{$index}}" preload=auto
                                        ng-src="{{draft.slides[0].bg_media.previewurl| trustUrl}}">
                                    </video>
                                </div>
                                <div class="card-body">
                                    <p class="card-title">{{draft.title}}<i class="fa fa-edit pull-right"
                                            ng-click="go('/createvideo?id=',draft._id)"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='draft in draftvideo2 track by $index'>
                            <div class="card thumbnail">
                                <img class="card-img-top" ng-show="draft.slides[0].bg_media.type=='photo'"
                                    ng-src="{{draft.slides[0].bg_media.previewurl}}" alt="Card image"
                                    style="width:100%">

                                <div class="card-img-top" ng-show="draft.slides[0].bg_media.type=='video'">
                                    <video loop="" muted id="vid{{$index}}" preload=auto
                                        ng-src="{{draft.slides[0].bg_media.previewurl| trustUrl}}">
                                    </video>
                                </div>
                                <div class="card-body">
                                    <p class="card-title">{{draft.title}}<i class="fa fa-edit pull-right"
                                            ng-click="go('/createvideo?id=',draft._id)"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='draft in draftvideo3 track by $index'>
                            <div class="card thumbnail">
                                <img class="card-img-top" ng-show="draft.slides[0].bg_media.type=='photo'"
                                    ng-src="{{draft.slides[0].bg_media.previewurl}}" alt="Card image"
                                    style="width:100%">

                                <div class="card-img-top" ng-show="draft.slides[0].bg_media.type=='video'">
                                    <video loop="" muted id="vid{{$index}}" preload=auto
                                        ng-src="{{draft.slides[0].bg_media.previewurl| trustUrl}}">
                                    </video>
                                </div>
                                <div class="card-body">
                                    <p class="card-title">{{draft.title}}<i class="fa fa-edit pull-right"
                                            ng-click="go('/createvideo?id=',draft._id)"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='draft in draftvideo4 track by $index'>
                            <div class="card thumbnail">
                                <img class="card-img-top" ng-show="draft.slides[0].bg_media.type=='photo'"
                                    ng-src="{{draft.slides[0].bg_media.previewurl}}" alt="Card image"
                                    style="width:100%">

                                <div class="card-img-top" ng-show="draft.slides[0].bg_media.type=='video'">
                                    <video loop="" muted id="vid{{$index}}" preload=auto
                                        ng-src="{{draft.slides[0].bg_media.previewurl| trustUrl}}">
                                    </video>
                                </div>
                                <div class="card-body">
                                    <p class="card-title">{{draft.title}}<i class="fa fa-edit pull-right"
                                            ng-click="go('/createvideo?id=',draft._id)"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div ng-if="!draftvideo.length" style="margin-top: 15%">
                    <div class="text-center">
                        <h3>Your video dashboard is empty!</h3>
                        <h3>Start creating videos to download and share with the world</h3>
                    </div>
                </div>
            </div>
            <!-- end -->


            <!-- Produced Video -->
            <div ng-if="Produced" class="col-md-12" style="margin-top: 20px">
                <div class="col-md-12 row dashboard" ng-if="producedvideo.length > 0">

                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='video in producedvideo1 track by $index'>
                            <div class="video produced">
                                <div class="card thumbnail"
                                    ng-if="video.branding.videotype=='horizontal'">
                                    <a href="/dashboard?id={{video._id}}" class="text-default">
                                        <video class="thevideo" loop muted id="vid{{$index}}" preload=auto>
                                            <source ng-src="{{video.video_url| trustUrl}}" type="video/mp4">
                                        </video>
                                    </a>
                                    <div class="card-body">

                                        <p class="card-title">{{video.title}}<i class="fa fa-edit pull-right"
                                                ng-click="go('/createvideo?id=',video._id)"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='video in producedvideo2 track by $index'>
                            <div class="video produced">
                                <div class="card thumbnail"
                                    ng-if="video.branding.videotype=='horizontal'">
                                    <a href="/dashboard?id={{video._id}}" class="text-default">
                                        <video class="thevideo" loop muted id="vid{{$index}}" preload=auto>
                                            <source ng-src="{{video.video_url| trustUrl}}" type="video/mp4">
                                        </video>
                                    </a>
                                    <div class="card-body">
                                        <p class="card-title">{{video.title}}<i class="fa fa-edit pull-right"
                                                ng-click="go('/createvideo?id=',video._id)"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='video in producedvideo3 track by $index'>
                            <div class="video produced">
                                <div class="card thumbnail"
                                    ng-if="video.branding.videotype=='horizontal'">
                                    <a href="/dashboard?id={{video._id}}" class="text-default">
                                        <video class="thevideo" loop muted id="vid{{$index}}" preload=auto>
                                            <source ng-src="{{video.video_url| trustUrl}}" type="video/mp4">
                                        </video>
                                    </a>
                                    <div class="card-body">
                                        <p class="card-title">{{video.title}}<i class="fa fa-edit pull-right"
                                                ng-click="go('/createvideo?id=',video._id)"></i></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="col-md-12 paddingnone" ng-repeat='video in producedvideo4 track by $index'>
                            <div class="video produced">
                                <div class="card thumbnail"
                                    ng-if="video.branding.videotype=='horizontal'">
                                    <a href="/dashboard?id={{video._id}}" class="text-default">
                                        <video class="thevideo" loop muted id="vid{{$index}}" preload=auto>
                                            <source ng-src="{{video.video_url| trustUrl}}" type="video/mp4">
                                        </video>
                                    </a>
                                    <div class="card-body">
                                        <p class="card-title">{{video.title}}<i class="fa fa-edit pull-right"></i></p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <script>
                        var figure = $(".video").hover(hoverVideo, hideVideo);

                        function hoverVideo(e) {
                            $('video', this).get(0).play();
                        }

                        function hideVideo(e) {
                            $('video', this).get(0).pause();
                        }
                    </script>

                </div>
                <div ng-if="!producedvideo.length" style="margin-top: 15%">
                    <div class="text-center">
                        <h3>Your video dashboard is empty!</h3>
                        <h3>Start creating videos to download and share with the world</h3>
                    </div>
                </div>
            </div>
            <!-- end -->

        </div>

        <!-- Download Video -->
        <div ng-if="downloadVideo" class="text-center">
            <div class="col-md-6 col-md-push-3 downloadVideo">
                <video style="width:100%;" autoplay controls ng-src="{{videodata.video_url| trustUrl}}"></video>
                <div class="text-center" style="margin: 50px 0px;">
                    <button class="btn btn-default btn-rounded" ng-click="goBack()">Go back</button>
                    <a href="{{videodata.video_url}}" class="btn btn-primary btn-rounded" download='topBestFinder.mp4'>
                        <i class="fa fa-download"></i>&nbsp; Download video
                    </a>
                </div>
            </div>
        </div>
        <!-- end -->
    </div>
</div>