<div class="col-md-12 dashboardWrap">
    <div class="col-md-2 sideWrap">
        <div class="col-md-12 text-center">
            <a href="/dashboard">
                <button class="btn btn-default" id="dashboard"
                    ng-class="path=='/dashboard'?'btn-info':''">Dashboard</button>
            </a>
        </div>

        <div class="col-md-12 text-center">
            <a href="/createvideo">
                <button class="btn btn-default" id="createvideo" ng-class="path=='/createvideo'?'btn-info':''"
                    ng-click="addNew()">Createvideo</button>
            </a>
        </div>

        <div class="col-md-12 text-center">
            <a href="/signout">
                <button class="btn btn-default" id="signout" ng-class="path=='/signout'?'btn-info':''">Signout</button>
            </a>
        </div>
    </div>
    <div class="col-md-10 mainWrap">
        <div ng-show="!search && isLoading" class="isLoading">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        <div ng-show="search && !isLoading">
            <div class="container-fluid">
                <button class="btn btn-info" ng-click="goBack()" style="position: absolute;margin: 2% auto;">
                    <i class="fa fa-long-arrow-left"></i> Back
                </button>
                <input type="text" ng-model="videodata.video_keyword" ng-enter="onSearchclick(videodata.video_keyword)"
                    style="width: 35%;margin: 2% auto;" class="form-control" placeholder="Search Media">
                <div id="mediaWrap" ng-scroll="medialibsearch(videodata.video_keyword)">
                    <div ng-repeat="data in mediadata track by $index" style="padding: 0;" ng-click="setBG(data)">

                        <img ng-if="data.type=='photo'" ng-src="{{data.previewURL}}" alt="" class="mediadata">

                        <div class="videoScene" ng-show="data.type=='video'">
                            <video poster={{data.poster}} class="mediadata" ng-src="{{data.previewURL| trustUrl}}"
                                style="width: 100%;" loop="" muted id="vid{{$index}}" preload=auto controls></video>
                        </div>

                        <script>
                            var figure = $(".videoScene");
                            var vid = figure.find("video");
                            [].forEach.call(figure, function (item, index) {
                                item.addEventListener('mouseover', hoverVideo.bind(item, index), false);
                                item.addEventListener('mouseout', hideVideo.bind(item, index), false);
                            });

                            function hoverVideo(index, e) {
                                vid[index].play();
                            }

                            function hideVideo(index, e) {
                                vid[index].pause();
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!search && !isLoading">
            <div class="pull-right">
                <div class="pull-left" style="margin: 7px 10px;">
                    <input type="checkbox" style="cursor: pointer;" name="tts" id="tts" value="TTS"
                        ng-checked="videodata.branding.tts" ng-model="videodata.branding.tts">
                    <label for="tts" style="margin: -3px 0px;">TTS</label>
                </div>
                <button class="btn btn-success" ng-click="saveVideo()"><i class="fa fa-spinner fa-spin"
                        ng-if="isSaved == 'Saving'"></i> {{isSaved}}</button>
                <button class="btn btn-primary" ng-click="renderVideo()"><i class="fa fa-spinner fa-spin"
                        ng-if="renderLoading"></i> Render</button>
            </div>
            <div class="slideWrap">
                <div ng-repeat='data in videodata.slides | orderBy:"$index"' class="col-md-12 slides" id="slideid">

                    <div style="color: #555;
                    position: absolute;
                    left: 0px;
                    top: 25%;
                    font-size: 30px;
                    cursor: pointer;
                    transform: translateY(-50%);">{{data.allslidecount+1}}.</div>

                    <i class="fa fa-trash deleteicon" ng-click="deleteslide(data.allslidecount)"></i>
                    
                    <div class="slidesbg" style="background-image: url(&quot;{{data.bg_media.previewurl}}&quot;);"
                        ng-if="data.bg_media.type == 'photo' && data.type == 'slider'">
                        <!-- <div class="slideText" editablecontent contenteditable="true">{{data.text}}</div> -->
                        <button class="slideText btn-primary" ng-click="showSearch(data)">Browse</button>
                    </div>

                    <div class="slidesbg" ng-if="data.bg_media.type == 'video' && data.type == 'slider'">
                        <video poster={{data.poster}} ng-src="{{data.bg_media.previewurl| trustUrl}}" loop="" muted
                            id="vid{{$index}}" preload=auto controls></video>
                        <!-- <div class="slideText" editablecontent contenteditable="true">{{data.text}}</div> -->
                        <button class="slideText btn-primary" ng-click="showSearch(data)">Browse</button>
                    </div>

                    <div class="slidesbg" ng-if="data.bg_media.type == 'photo' && data.type == 'outro'">
                        <img ng-src="{{videodata.branding.outro_image}}" alt=""
                            style="height:60%;width:auto;margin-top:10%">
                        <div class="outroText" editablecontent contenteditable="true">{{data.text}}</div>
                    </div>

                    <div class="sidebgOption">
                        <!-- <button class="btn btn-default" ng-click="showSearch(data)">Browse</button>
                        <br> -->
                        <label>Text</label>
                        <textarea cols="10" rows="2" class="form-control" type="text" ng-model="data.text"
                            ng-blur="countof()"></textarea>
                        <label>Description</label>
                        <textarea cols="10" rows="5" class="form-control" type="text" ng-model="data.desc"
                            ng-blur="countof()"></textarea>
                        <div class="mt-10">
                            <button class="btn btn-sm btn-default"
                                ng-click="countof('',data.slide_duration, $index,true,'minus')" type="button">–</button>
                            <span class="duration">{{data.slide_duration}}s</span>
                            <button class="btn btn-sm btn-default"
                                ng-click="countof('',data.slide_duration, $index,true,'plus')" type="button">+</button>
                        </div>
                    </div>

                    <div class="newslide">
                        <i class="fa fa-plus-circle" ng-show="data.type != 'outro'"
                            ng-click="addslide(data.allslidecount)"></i>
                    </div>

                </div>
                <div class="col-md-6 text-center" ng-if="invalid_Data.status == 'invalid'">
                    <p class="text-danger">Media Validation Failed !!</p>
                    <p style="font-size: 12px;color: #000;">Check image and video in the following slides</p>
                    <div style="overflow-y: auto;font-size: 18px;max-height: 100px;margin-top: 10px;">
                        <table class="col-md-12 table-hover">
                            <tr ng-repeat="data in invalid_Data.result | filter: { status : 'invalid' }">
                                <td style="padding:20px;"><i class="fa fa-exclamation-circle"
                                        style="font-size:18px;color:red"></i> Slide : {{data.slide + 1}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>