<div class="wrapper fadeInDown" style="height:100vh !important">
    <div id="formContent">
        <form>
            <input type="email" id="login" class="fadeIn second" ng-model="user.email" placeholder="E-mail Address">
            <input type="password" id="password" class="fadeIn third" ng-model="user.password" placeholder="Password">

            <button type="submit" class="fadeIn fourth" ng-click="login()"> 
                <span ng-show="loginStatus == 'Logging In'"><i class="fa fa-spinner fa-spin"></i></span>
                {{ loginStatus }}
            </button>
            
            <span ng-if="err_msg" class="text-danger">{{err_msg}}</span>
        </form>

    </div>
</div> 